<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      The video explains the example app you're starting with and which tasks
      should be completed as part of this assignment. Make sure to also answer
      why you implemented the solution you chose to use. Questions for this
      assignment Please complete the tasks outlined in the instructions video.
      Why did you choose the approach you took? Which problems did you
      encounter?
    </p>
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
  </body>
</html>
